@model IEnumerable<SmartEco.Akimato.Models.ReceptionRecyclingPoint>
@using System.Net
@using SmartEco.Akimato.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ReceptionRecyclingPoints"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["ReceptionRecyclingPoints"]</h1>

<p>
    @Html.ActionLink(SharedLocalizer["Create"], "Create", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
</p>
@using (Html.BeginForm("Index", "ReceptionRecyclingPoints", new { SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
    @if (ViewBag.EndPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                    new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber - 1, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = page, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }

            @if (ViewBag.PageNumber < ViewBag.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber + 1, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.TotalPages, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }
        </ul>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(c => c.ToList().FirstOrDefault().Organization).ToString(), "Index",
                        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.OrganizationSort, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                    <br />
                    @Html.Editor("OrganizationFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(c => c.ToList().FirstOrDefault().TypesRaw).ToString(), "Index",
                        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.TypesRawSort, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                    <br />
                    @Html.Editor("TypesRawFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NorthLatitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EastLongitude)
                </th>
                <th>
                    @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizeList, htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-outline-light">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   <td>
                        @Html.DisplayFor(modelItem => item.Organization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypesRaw)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NorthLatitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EastLongitude)
                    </td>
                    <td>
                        @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = item.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter }) |
                        @Html.ActionLink(SharedLocalizer["Details"], "Details", new { Id = item.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter }) |
                        @Html.ActionLink(SharedLocalizer["Delete"], "Delete", new { Id = item.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ViewBag.EndPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber - 1, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = page, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }

            @if (ViewBag.PageNumber < ViewBag.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber + 1, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.TotalPages, SortOrder = ViewBag.SortOrder, OrganizationFilter = ViewBag.OrganizationFilter, TypesRawFilter = ViewBag.TypesRawFilter })
                </li>
            }
        </ul>
    }
}