@model SmartEco.Models.KATO
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Details"]</h1>

<div>
    <h4 id="KATO">@SharedLocalizer["KATO"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EgovId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EgovId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParentEgovId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParentEgovId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameKK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameKK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameRU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameRU)
        </dd>
    </dl>
</div>
<div>
    <div>
        @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = Model.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, CodeFilter = ViewBag.CodeFilter, LevelFilter = ViewBag.LevelFilter, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter }) |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, CodeFilter = ViewBag.CodeFilter, LevelFilter = ViewBag.LevelFilter, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter })
    </div>
</div>
