@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@SharedLocalizer["DeleteAnswer"]</h3>
<div>
    <form asp-action="Delete">
        <input name="id" type="hidden" value="@ViewBag.AnswerId" />
        <div hidden="hidden">
            @Html.Editor("PageSize", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            @Html.Editor("PageNumber", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
        </div>
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-danger" /> |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize })
    </form>
</div>