@model IEnumerable<SmartEco.Models.ASM.MonitoringData>
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["AnalyticASM"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["AnalyticASM"]</h1>

@using (Html.BeginForm("AnalyticASM", "Analytics", new { SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
    @if (ViewBag.EndPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber - 1, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = page, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }

            @if (ViewBag.PageNumber < ViewBag.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber + 1, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.TotalPages, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }
        </ul>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(SharedLocalizer["Enterprise"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.EnterpriseNameSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("EnterpriseNameFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["City"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.CitySort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("CityFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["SourceAirPollution"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SourceAirPollutionNameSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("SourceAirPollutionNameFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["SourceEmission"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SourceEmissionNameSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("SourceEmissionNameFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["MonitoringParameter"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.MonitoringParameterNameSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("MonitoringParameterNameFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["Value"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.ValueSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("ValueFilter", null, new { htmlAttributes = new { @class = "form-control", @type = "number", step="any" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["DateTime"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.DateTimeSort, MeasuredParameterIdFilter = ViewBag.MeasuredParameterIdFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter, EcomonMonitoringPointIdFilter = ViewBag.EcomonMonitoringPointIdFilter, KazHydrometAirPostIdFilter = ViewBag.KazHydrometAirPostIdFilter })
                    <br />
                    @Html.TextBox("DateTimeFromFilter", (string)ViewBag.DateTimeFromFilter, new { type = "date", @class = "form-control" }) -
                    @Html.TextBox("DateTimeToFilter", (string)ViewBag.DateTimeToFilter, new { type = "date", @class = "form-control" })
                </th>
                <th>
                    @Html.ActionLink(SharedLocalizer["MPCMaxSingle"], "AnalyticASM",
                new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.MPCMaxSingleSort, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                    <br />
                    @Html.Editor("MPCMaxSingleFilter", null, new { htmlAttributes = new { @class = "form-control", @type = "number", step="any" }, value = "" })
                </th>
                <th>
                    @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizeList, htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-default">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceEmission.SourceAirPollution.Manufactory.Enterprise.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceEmission.SourceAirPollution.Manufactory.Enterprise.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceEmission.SourceAirPollution.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceEmission.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitoringParameter.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonitoringParameter.MPCMaxSingle)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ViewBag.EndPage > 1)
    {
        <ul class="pagination">
            @if (ViewBag.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber - 1, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }

            @for (var page = (int)ViewBag.StartPage; page <= (int)ViewBag.EndPage; page++)
            {
                <li class="@(page == ViewBag.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = page, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }

            @if (ViewBag.PageNumber < ViewBag.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.PageNumber + 1, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "AnalyticASM",
        new { PageSize = ViewBag.PageSize, PageNumber = ViewBag.TotalPages, SortOrder = ViewBag.SortOrder, EnterpriseNameFilter = ViewBag.EnterpriseNameFilter, CityFilter = ViewBag.CityFilter, SourceAirPollutionNameFilter = ViewBag.SourceAirPollutionNameFilter, SourceEmissionNameFilter = ViewBag.SourceEmissionNameFilter, MonitoringParameterNameFilter = ViewBag.MonitoringParameterNameFilter, ValueFilter = ViewBag.ValueFilter, MPCMaxSingleFilter = ViewBag.MPCMaxSingleFilter, DateTimeFromFilter = ViewBag.DateTimeFromFilter, DateTimeToFilter = ViewBag.DateTimeToFilter })
                </li>
            }
        </ul>
    }
}
