@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["PostAnalyticsAlmaty"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["PostAnalyticsAlmaty"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="PostAnalyticsAlmaty">
            @Html.TextBox("DateFrom", (string)ViewBag.DateFrom, new { type = "date", @class = "form-control info-input", @id = "DateTimeFrom" })
            -
            @Html.TextBox("DateTo", (string)ViewBag.DateTo, new { type = "date", @class = "form-control info-input", @id = "DateTimeTo" })
            <div hidden="hidden">
                <input id="TimeFrom" name="TimeFrom" type="text" value="@ViewBag.TimeFrom" />
                <input id="TimeTo" name="TimeTo" type="text" value="@ViewBag.TimeTo" />
            </div>
            <div id="CheckBoxList" class="col-md-6 form-control analystScrollCheck">
                @*Selection of posts for analytics*@
            </div>

            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["SendExcel"]" class="btn btn-primary" onclick="ExcelFormation()" />
            </div>
        </form>
        <div id="ExcelFormationBlock">
            <p id="TextExcelFormation">@ViewBag.ExcelSent</p>
        </div>
    </div>
</div>

<script>
    function ExcelFormation() {
        var excelFormationBlock = document.getElementById('ExcelFormationBlock');
        $('#TextExcelFormation').text("Формирование Excel-файла...");
    }

    function GetMonitoringPosts() {
        $.ajax({
            url: '@Url.Action("GetMonitoringPosts", "Analytics")',
            type: 'POST',
            success: function (data) {
                var checkBoxHtml = '';
                $.each(data, function (i) {
                    checkBoxHtml += '<input type="checkbox" name="MonitoringPostsId" id="' + data[i].id + '" value="' + data[i].id + '">' +
                        '<label for="' + data[i].id + '">' + data[i].additionalInformation + '</label>' +
                        '<br />';
                });
                $('#CheckBoxList').empty();
                $('#CheckBoxList').append(checkBoxHtml);
            },
            error: function () {
            }
        })
    }
</script>

@* window.onload *@
<script>
    window.onload = function start() {
        GetMonitoringPosts();
    }
</script>