@model SmartEco.Models.LEDScreen
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Delete"]</h1>

<h3>@SharedLocalizer["Delete"]?</h3>
<div>
    <h4>@SharedLocalizer["LEDScreen"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NorthLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NorthLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonitoringPost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonitoringPost.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div hidden="hidden">
            @Html.Editor("SortOrder", null, new { value = ViewBag.SortOrder })
            @Html.Editor("PageSize", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            @Html.Editor("PageNumber", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            @Html.Editor("NameFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            @Html.Editor("MonitoringPostIdFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
        </div>
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-danger" /> |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NameFilter = ViewBag.NameFilter, MonitoringPostIdFilter = ViewBag.MonitoringPostIdFilter })
    </form>
</div>
