@model SmartEco.Akimato.Models.AActivity
@using SmartEco.Akimato.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Details"]</h1>
@{
    string Role = Context.Session.GetString("Role");
}
<div>
    <h4>@SharedLocalizer["AActivity"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer["PeriodActivity"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartPeriod)
            -
            @Html.DisplayFor(model => model.EndPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetValue.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Target.PollutionEnvironmentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Target.PollutionEnvironment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Target.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Target.MeasuredParameterUnitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Target.MeasuredParameterUnit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetTerritory.TerritoryTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetTerritory.TerritoryType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetTerritory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetTerritory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ActivityType)
            {
                @SharedLocalizer["Actual"]
            }
            else
            {
                @SharedLocalizer["Planned"]
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementationPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImplementationPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Efficiency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Efficiency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInformationKK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInformationKK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInformationRU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInformationRU)
        </dd>
        @if (Role == "admin" || Role == "moderator")
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
        }
        <dt class="col-sm-2">
            @SharedLocalizer["Executors"]
        </dt>
        <dd class="col-sm-10">
            @foreach (var executor in ((List<Executor>)ViewBag.ExecutorsList))
            {
                if (((List<Executor>)ViewBag.ExecutorsList).Count == 1 || ((List<Executor>)ViewBag.ExecutorsList).Last() == executor)
                {
                    <span>@executor.FullName</span>
                }
                else
                {
                    <span>@executor.FullName,</span>
                }
            }
        </dd>
    </dl>
</div>
@if (Role == "admin" || Role == "moderator" || Role == "Almaty" || Role == "Shymkent" || Role == "KaragandaRegion")
{
<div>
    @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = Model.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter, TargetIdFilter = ViewBag.TargetIdFilter, MeasuredParameterUnitIdFilter = ViewBag.MeasuredParameterUnitIdFilter, TerritoryTypeIdFilter = ViewBag.TerritoryTypeIdFilter, TargetTerritoryIdFilter = ViewBag.TargetTerritoryIdFilter, EventIdFilter = ViewBag.EventIdFilter, YearFilter = ViewBag.YearFilter, ActivityTypeFilter = ViewBag.ActivityTypeFilter }) |
    @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter, TargetIdFilter = ViewBag.TargetIdFilter, MeasuredParameterUnitIdFilter = ViewBag.MeasuredParameterUnitIdFilter, TerritoryTypeIdFilter = ViewBag.TerritoryTypeIdFilter, TargetTerritoryIdFilter = ViewBag.TargetTerritoryIdFilter, EventIdFilter = ViewBag.EventIdFilter, YearFilter = ViewBag.YearFilter, ActivityTypeFilter = ViewBag.ActivityTypeFilter })
</div>
}
else
{
    <div>
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter, TargetIdFilter = ViewBag.TargetIdFilter, MeasuredParameterUnitIdFilter = ViewBag.MeasuredParameterUnitIdFilter, TerritoryTypeIdFilter = ViewBag.TerritoryTypeIdFilter, TargetTerritoryIdFilter = ViewBag.TargetTerritoryIdFilter, EventIdFilter = ViewBag.EventIdFilter, YearFilter = ViewBag.YearFilter, ActivityTypeFilter = ViewBag.ActivityTypeFilter })
    </div>
}
