@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Data"];
}

<a class="btn btn-default" asp-controller="MeasuredParameters" asp-action="Index">@SharedLocalizer["MeasuredParameters"]</a>
<a class="btn btn-default" asp-controller="EcomonMonitoringPoints" asp-action="Index">@SharedLocalizer["EcomonMonitoringPoints"]</a>
<a class="btn btn-default" asp-controller="MeasuredDatas" asp-action="Index">@SharedLocalizer["MeasuredDatas"]</a>
<a class="btn btn-default" asp-controller="Logs" asp-action="Index">@SharedLocalizer["History"]</a>
<a class="btn btn-default" asp-controller="Pollutants" asp-action="Index">@SharedLocalizer["Pollutants"]</a>
<a class="btn btn-default" asp-controller="PollutionSources" asp-action="Index">@SharedLocalizer["PollutionSources"]</a>
<a class="btn btn-default" asp-controller="Maps" asp-action="Index">@SharedLocalizer["Map"]</a>