@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Data"];
}
@{
    string Role = Context.Session.GetString("Role");
}
@if (Role == "admin" || Role == "moderator")
{
    <a class="btn btn-default" asp-controller="MeasuredDatas" asp-action="Index">@SharedLocalizer["MeasuredDatas"]</a>
    <a class="btn btn-default" asp-controller="Layers" asp-action="Index">@SharedLocalizer["Layers"]</a>
    <a class="btn btn-default" asp-controller="MeasuredParameters" asp-action="SetMaximumValue">Установка максимального значения измеряемых параметров</a>
    <hr />
    <a class="btn btn-default" asp-controller="Targets" asp-action="Index">@SharedLocalizer["Targets"]</a>
    <a class="btn btn-default" asp-controller="Events" asp-action="Index">@SharedLocalizer["Events"]</a>
    <a class="btn btn-default" asp-controller="TargetTerritories" asp-action="Index">@SharedLocalizer["TargetTerritories"]</a>
    <a class="btn btn-default" asp-controller="TargetValues" asp-action="Index">@SharedLocalizer["TargetValues"]</a>
    <a class="btn btn-default" asp-controller="AActivities" asp-action="Index">@SharedLocalizer["AActivities"]</a>
    <a class="btn btn-default" asp-controller="Executors" asp-action="Index">@SharedLocalizer["Executors"]</a>
    <a class="btn btn-default" asp-controller="SpeciallyProtectedNaturalTerritories" asp-action="Index">@SharedLocalizer["SpeciallyProtectedNaturalTerritories"]</a>
    <a class="btn btn-default" asp-controller="GreemPlantsPassports" asp-action="Index">@SharedLocalizer["GreemPlantsPassports"]</a>
}
else if (Role == "KaragandaRegion")
{
    <a class="btn btn-default" asp-controller="MeasuredDatas" asp-action="Index">@SharedLocalizer["MeasuredDatas"]</a>
    <hr />
    <a class="btn btn-default" asp-controller="Targets" asp-action="Index">@SharedLocalizer["Targets"]</a>
    <a class="btn btn-default" asp-controller="Events" asp-action="Index">@SharedLocalizer["Events"]</a>
    <a class="btn btn-default" asp-controller="TargetTerritories" asp-action="Index">@SharedLocalizer["TargetTerritories"]</a>
    <a class="btn btn-default" asp-controller="TargetValues" asp-action="Index">@SharedLocalizer["TargetValues"]</a>
    <a class="btn btn-default" asp-controller="AActivities" asp-action="Index">@SharedLocalizer["AActivities"]</a>
    <a class="btn btn-default" asp-controller="Executors" asp-action="Index">@SharedLocalizer["Executors"]</a>
    <a class="btn btn-default" asp-controller="SpeciallyProtectedNaturalTerritories" asp-action="Index">@SharedLocalizer["SpeciallyProtectedNaturalTerritories"]</a>
    <a class="btn btn-default" asp-controller="GreemPlantsPassports" asp-action="Index">@SharedLocalizer["GreemPlantsPassports"]</a>
}
else if (Role == "Arys")
{
    <a class="btn btn-default" asp-controller="MeasuredDatas" asp-action="Index">@SharedLocalizer["MeasuredDatas"]</a>
}
else if (Role == "Almaty")
{
    <a class="btn btn-default" asp-controller="Targets" asp-action="Index">@SharedLocalizer["Targets"]</a>
    <a class="btn btn-default" asp-controller="Events" asp-action="Index">@SharedLocalizer["Events"]</a>
    <a class="btn btn-default" asp-controller="TargetTerritories" asp-action="Index">@SharedLocalizer["TargetTerritories"]</a>
    <a class="btn btn-default" asp-controller="TargetValues" asp-action="Index">@SharedLocalizer["TargetValues"]</a>
    <a class="btn btn-default" asp-controller="AActivities" asp-action="Index">@SharedLocalizer["AActivities"]</a>
    <a class="btn btn-default" asp-controller="Executors" asp-action="Index">@SharedLocalizer["Executors"]</a>
    <a class="btn btn-default" asp-controller="SpeciallyProtectedNaturalTerritories" asp-action="Index">@SharedLocalizer["SpeciallyProtectedNaturalTerritories"]</a>
    <a class="btn btn-default" asp-controller="GreemPlantsPassports" asp-action="Index">@SharedLocalizer["GreemPlantsPassports"]</a>
}
else if (Role == "Shymkent")
{
    <a class="btn btn-default" asp-controller="Targets" asp-action="Index">@SharedLocalizer["Targets"]</a>
    <a class="btn btn-default" asp-controller="Events" asp-action="Index">@SharedLocalizer["Events"]</a>
    <a class="btn btn-default" asp-controller="TargetTerritories" asp-action="Index">@SharedLocalizer["TargetTerritories"]</a>
    <a class="btn btn-default" asp-controller="TargetValues" asp-action="Index">@SharedLocalizer["TargetValues"]</a>
    <a class="btn btn-default" asp-controller="AActivities" asp-action="Index">@SharedLocalizer["AActivities"]</a>
    <a class="btn btn-default" asp-controller="Executors" asp-action="Index">@SharedLocalizer["Executors"]</a>
    <a class="btn btn-default" asp-controller="SpeciallyProtectedNaturalTerritories" asp-action="Index">@SharedLocalizer["SpeciallyProtectedNaturalTerritories"]</a>
    <a class="btn btn-default" asp-controller="GreemPlantsPassports" asp-action="Index">@SharedLocalizer["GreemPlantsPassports"]</a>
}

@*


    <a class="btn btn-default" asp-controller="Logs" asp-action="Index">@SharedLocalizer["History"]</a>
    <a class="btn btn-default" asp-controller="Pollutants" asp-action="Index">@SharedLocalizer["Pollutants"]</a>

    <a class="btn btn-default" asp-controller="PollutionSourceDatas" asp-action="Index">@SharedLocalizer["PollutionSourceDatas"]</a>
    <a class="btn btn-default" asp-controller="KazHydrometAirPosts" asp-action="Index">@SharedLocalizer["KazHydrometAirPosts"]</a>
    <a class="btn btn-default" asp-controller="KazHydrometSoilPosts" asp-action="Index">@SharedLocalizer["KazHydrometSoilPosts"]</a>




    <a class="btn btn-default" asp-controller="Maps" asp-action="Index">@SharedLocalizer["Map"]</a>
*@