@model SmartEco.Models.ASM.EnterpriseTypeViewModel
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@SharedLocalizer["EnterpriseType"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div hidden="hidden">
                <input asp-for="@Model.Filter.SortOrder" type="hidden" />
                <input asp-for="@Model.Filter.PageSize" type="hidden" />
                <input asp-for="@Model.Filter.PageNumber" type="hidden" />
                <input asp-for="@Model.Filter.NameFilter" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new EnterpriseTypeFilter { PageNumber = Model.Filter.PageNumber, PageSize = Model.Filter.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
