@model SmartEco.Models.ASM.EnterpriseTypeListViewModel
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["EnterpriseTypes"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["EnterpriseTypes"]</h2>
@{
    string Role = Context.Session.GetString("Role");
}
@if (Role == "admin" || Role == "moderator" || Role == "ASM")
{
    <p>
        @Html.ActionLink(SharedLocalizer["Create"], "Create", new EnterpriseTypeFilter { PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
    </p>
}
@using (Html.BeginForm("Index", "EnterpriseTypes", new EnterpriseTypeFilter { SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = Model.Filter.SortOrder })
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                    new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber - 1, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }

            @for (var page = (int)Model.Pager.StartPage; page <= (int)Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = page, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }

            @if (Model.Pager.PageNumber < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber + 1, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.TotalPages, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }
        </ul>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(c => c.Items.FirstOrDefault().Name).ToString(), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, SortOrder = ViewBag.NameSort, NameFilter = Model.Filter.NameFilter })
                    <br />
                    @Html.Editor(nameof(Model.Filter.NameFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DropDownList(nameof(Model.Pager.PageSize), Model.Pager.PageSizeList, htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-default">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (Role == "admin" || Role == "moderator" || Role == "ASM")
                    {
                        <td>
                            @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = item.Id, PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter }) |
                            @Html.ActionLink(SharedLocalizer["Details"], "Details", new EnterpriseTypeFilterId { Id = item.Id, PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter }) |
                            @Html.ActionLink(SharedLocalizer["Delete"], "Delete", new { Id = item.Id, PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(SharedLocalizer["Details"], "Details", new { Id = item.Id, PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber - 1, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }

            @for (var page = (int)Model.Pager.StartPage; page <= (int)Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = page, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }

            @if (Model.Pager.PageNumber < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber + 1, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new EnterpriseTypeFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.TotalPages, SortOrder = Model.Filter.SortOrder, NameFilter = Model.Filter.NameFilter })
                </li>
            }
        </ul>
    }
}
