@model SmartEco.Models.ASM.IndSiteEnterpriseBorderListViewModel
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "IndSiteEnterpriseBorders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/a1bcdb39a4.js" crossorigin="anonymous"></script>

<h2>Границы промплощадки</h2>
@{
    string Role = Context.Session.GetString("Role");
    string controller = "IndSiteEnterpriseBorders";
}
@if (Role == "admin" || Role == "moderator" || Role == "ASM")
{
    <div class="form-group">
        <a class="btn btn-success" href="@Url.Action("Create", controller, new { IndSiteEnterpriseId = Model.IndSiteEnterpriseId })">
            @SharedLocalizer["Create"]
        </a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (Role == "admin" || Role == "moderator" || Role == "ASM")
                {
                    <td class="d-flex" style="justify-content: space-evenly">
                        <a title="@SharedLocalizer["Edit"]" href="@Url.Action("Edit", controller, new {Id = item.Id})" class="text-warning">
                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>
                        <a title="@SharedLocalizer["Delete"]" href="#" data-toggle="modal" data-target="#ShowDeleteModal_@item.Id" class="text-danger">
                            <i class="fa-solid fa-trash fa-lg"></i>
                        </a>

                        <div id="ShowDeleteModal_@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    @await Html.PartialAsync("_DeleteModal.cshtml", item)
                                </div>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <a class="btn btn-outline-secondary" href="@Url.Action("Details", "Enterprises", new EnterpriseFilterId { Id = Model.EnterpriseId })">
        Обратно к предприятию
    </a>
</div>