@model SmartEco.Models.TreesByFacilityManagementMeasuresList
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@SharedLocalizer["TreesByFacilityManagementMeasuresList"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GreemPlantsPassportId" class="control-label"></label>
                <select asp-for="GreemPlantsPassportId" class="form-control" asp-items="ViewBag.GreemPlantsPassports"></select>
                <span asp-validation-for="GreemPlantsPassportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantationsTypeId" class="control-label"></label>
                <select asp-for="PlantationsTypeId" class="form-control" asp-items="ViewBag.PlantationsTypes"></select>
                <span asp-validation-for="PlantationsTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessEvents" class="control-label"></label>
                <div class="form-control" style="height: auto;">
                    @Html.RadioButtonFor(model => model.BusinessEvents, true, new { @name = "BusinessEvents", @onclick = "ChangeBusinessEvents()" }) @SharedLocalizer["BusinessEvents"]
                    @Html.RadioButtonFor(model => model.BusinessEvents, false, new { @name = "BusinessEvents", @onclick = "ChangeBusinessEvents()" }) @SharedLocalizer["PlantationsType"]
                </div>
                <span asp-validation-for="BusinessEvents" class="text-danger"></span>
            </div>
            <div class="form-group PlantationsType">
                <label asp-for="BusinessEventsPlantationsTypeId" class="control-label"></label>
                <select asp-for="BusinessEventsPlantationsTypeId" class="form-control" asp-items="ViewBag.PlantationsTypes"></select>
            </div>
            <div class="form-group BusinessEvents">
                <label asp-for="SanitaryPruning" class="control-label"></label>
                <input asp-for="SanitaryPruning" class="form-control" />
                <span asp-validation-for="SanitaryPruning" class="text-danger"></span>
            </div>
            <div class="form-group BusinessEvents">
                <label asp-for="CrownFormation" class="control-label"></label>
                <input asp-for="CrownFormation" class="form-control" />
                <span asp-validation-for="CrownFormation" class="text-danger"></span>
            </div>
            <div class="form-group BusinessEvents">
                <label asp-for="SanitaryFelling" class="control-label"></label>
                <input asp-for="SanitaryFelling" class="form-control" />
                <span asp-validation-for="SanitaryFelling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceWork" class="control-label"></label>
                <input asp-for="MaintenanceWork" class="form-control" />
                <span asp-validation-for="MaintenanceWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div hidden="hidden">
                @Html.Editor("SortOrder", null, new { value = ViewBag.SortOrder })
                @Html.Editor("PageSize", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("PageNumber", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("GreemPlantsPassportIdFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("PlantationsTypeIdFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, GreemPlantsPassportIdFilter = ViewBag.GreemPlantsPassportIdFilter, PlantationsTypeIdFilter = ViewBag.PlantationsTypeIdFilter })
</div>

<script>
    function ChangeBusinessEvents() {
        if ($("input[name='BusinessEvents']:checked").val() == "True") {
            $('.BusinessEvents').show();
            $('.PlantationsType').hide();
        }
        else {
            $('.BusinessEvents').hide();
            $('.PlantationsType').show();
        }
    };

    $(document).ready(function () {
        ChangeBusinessEvents();
    });
</script>