@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["PostAnalytics"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["PostAnalytics"]</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="PostAnalytics">
            @Html.TextBox("DateFrom", (string)ViewBag.DateFrom, new { type = "date", @class = "form-control info-input", @id = "DateTimeFrom" })
            -
            @Html.TextBox("DateTo", (string)ViewBag.DateTo, new { type = "date", @class = "form-control info-input", @id = "DateTimeTo" })
            <div hidden="hidden">
                <input id="TimeFrom" name="TimeFrom" type="text" value="@ViewBag.TimeFrom" />
                <input id="TimeTo" name="TimeTo" type="text" value="@ViewBag.TimeTo" />
            </div>

            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["SendExcel"]" class="btn btn-primary" onclick="ExcelFormation()" />
            </div>
        </form>
        <div id="ExcelFormationBlock">
            <p id="TextExcelFormation">@ViewBag.ExcelSent</p>
        </div>
    </div>
</div>

<script>
    function ExcelFormation() {
        var excelFormationBlock = document.getElementById('ExcelFormationBlock');
        $('#TextExcelFormation').text("Формирование Excel-файла...");
        //excelFormationBlock.removeAttribute("hidden"); 
    }
</script>