@model AirPollutionSourceListViewModel
@using SmartEco.Models.ASM.PollutionSources
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    string Role = Context.Session.GetString("Role");
    string controller = "AirPollutionSources";
}

@*Openlayers map*@
<link href="~/lib/openlayers/ol.css" rel="stylesheet" />
<script src="~/lib/openlayers/ol.js"></script>

@*On-Off for checkbox*@
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<link href="~/css/asm/airPollutionSource/table.css" rel="stylesheet" />

<table id="AirPollutionSourcesTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Id)
                <br />
                <br />
                @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = Model.Filter.SortOrder })
            </th>
            <th>
                <button class="btn btn-link font-weight-bold sort-btn" type="button" data-sort="@Model.Filter.NumberSort">@Html.DisplayNameFor(m => m.Items.FirstOrDefault().Number)</button>
                <br />
                @Html.Editor(nameof(Model.Filter.NumberFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </th>
            <th>
                <button class="btn btn-link font-weight-bold sort-btn" type="button" data-sort="@Model.Filter.NameSort">@Html.DisplayNameFor(m => m.Items.FirstOrDefault().Name)</button>
                <br />
                @Html.Editor(nameof(Model.Filter.NameFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </th>
            <th>
                <button class="btn btn-link font-weight-bold sort-btn" type="button" data-sort="@Model.Filter.RelationSort">@Html.DisplayNameFor(m => m.Items.FirstOrDefault().Relation)</button>
                <br />
                @Html.Editor(nameof(Model.Filter.RelationFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Type.IsOrganized)
                <br />
                <br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Type)
                <br />
                <br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().SourceInfo)
                <br />
                <br />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().IsActive)
                <br />
                <br />
            </th>
            <th>
                @Html.DropDownList(nameof(Model.Pager.PageSize), Model.Pager.PageSizeList, htmlAttributes: new { @class = "form-control" })
                <input type="button" id="FilterAirPollutionSources" value="@SharedLocalizer["Find"]" class="btn btn-secondary">
                <input type="button" id="ResetFilterAirPollutionSources" value="@SharedLocalizer["Reset"]" class="btn btn-outline-secondary">
            </th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("~/Views/AirPollutionSources/_AirPollutionSourcesTableBody.cshtml", Model)
    </tbody>
</table>

@if (Role == "admin" || Role == "moderator" || Role == "ASM")
{
    <button type="button" id="AddAirPollutionSource" class="btn btn-success d-block">Добавить</button>
}

@foreach (var item in Model.Items)
{
    <div id="ShowMap_@item.Id" class="modal fade show-map" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                @await Html.PartialAsync("~/Views/AirPollutionSources/_MapModal.cshtml", item.SourceInfo)
            </div>
        </div>
    </div>

    <div id="DeleteAirPollutionSource_@item.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                @await Html.PartialAsync("~/Views/AirPollutionSources/_DeleteAirPollutionSourceModal.cshtml", item)
            </div>
        </div>
    </div>
}

<div hidden>
    <div id="FilterEnterpriseId" data-value="@Model.Filter.EnterpriseId"></div>

    <div id="ApsGetSourcesReq" data-url="@Url.Action("GetSources", "AirPollutionSources")"></div>
    <div id="ApsCreateReq" data-url="@Url.Action("Create", "AirPollutionSources")"></div>
    <div id="ApsEditReq" data-url="@Url.Action("Edit", "AirPollutionSources")"></div>
    <div id="ApsCopyReq" data-url="@Url.Action("Copy", "AirPollutionSources")"></div>
    <div id="ApsDeleteReq" data-url="@Url.Action("Delete", "AirPollutionSources")"></div>
    <div id="ApsValidInfoReq" data-url="@Url.Action("ValidInfo", "AirPollutionSources")"></div>

    <div id="ModeCreateReq" data-url="@Url.Action("Create", "OperationModes")"></div>
    <div id="ModeEditReq" data-url="@Url.Action("Edit", "OperationModes")"></div>
    <div id="ModeDeleteReq" data-url="@Url.Action("Delete", "OperationModes")"></div>

    <div id="EmissionCreateReq" data-url="@Url.Action("Create", "AirEmissions")"></div>
    <div id="EmissionEditReq" data-url="@Url.Action("Edit", "AirEmissions")"></div>
    <div id="EmissionDeleteReq" data-url="@Url.Action("Delete", "AirEmissions")"></div>

    <div id="EmissionGetPollutantsReq" data-url="@Url.Action("GetPollutants", "AirPollutants")"></div>
    <div id="EmissionGetPollutantIdReq" data-url="@Url.Action("GetPollutantId", "AirPollutants")"></div>
</div>

<script src="~/js/asm/airPollutionSources/initializeObjects.js"></script>
<script src="~/js/asm/airPollutionSources/tableLogic.js"></script>
<script src="~/js/asm/airPollutionSources/mapCoordinates.js"></script>
<script src="~/js/asm/airPollutionSources/modalWindowNesting.js"></script>

<script src="~/js/asm/airPollutionSources/tableModesLogic.js"></script>
<script src="~/js/asm/airPollutionSources/tableEmissionLogic.js"></script>