@model AirPollutionSourceInfo
@using SmartEco.Models.ASM.PollutionSources
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    string Role = Context.Session.GetString("Role");
}

<!--class 'is-organized-block' show in script if input 'IsOrzanizedSource' is 'true'-->
<!--class 'isnot-organized-block' show in script if input 'IsOrzanizedSource' is 'false'-->

<dl class="modal-body">
    <input asp-for="@Model.SourceId" type="text" name="SourceIdInfo" hidden>

    <dt class="col-sm-6 isnot-organized-block" hidden>Размер площадного источника</dt>
    <dd class="form-group col-sm-6 isnot-organized-block" hidden>
        <span>Длина, м:</span>
        <input asp-for="@Model.Length" type="text" class="form-control-plaintext size-input" name="LengthInfo" disabled>
        <div name="LengthInvalid" class="invalid-feedback"></div>

        <span>Ширина, м:</span>
        <input asp-for="@Model.Width" type="text" class="form-control-plaintext size-input" name="WidthInfo" disabled>
        <div name="WidthInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6 is-organized-block" hidden>@Html.DisplayNameFor(modelItem => modelItem.Coordinate)</dt>
    <dt class="col-sm-6 isnot-organized-block" hidden>Координаты центра</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.Coordinate" type="text" class="form-control-plaintext" name="CoordinateInfo" hidden>
        <input asp-for="@Model.Coordinate3857" type="text" class="form-control-plaintext" name="Coordinate3857Info" hidden>

        <span>Широта:</span>
        <input type="text" class="form-control-plaintext coordinate-input" name="CoordinateLatInfo" disabled>

        <span>Долгота:</span>
        <input type="text" class="form-control-plaintext coordinate-input" name="CoordinateLongInfo" disabled>

        <button type="button" class="mt-3 btn btn-primary btn-disabled select-on-map" data-toggle="modal" data-target="#ShowMap_@Model.SourceId" disabled>Выбрать на карте</button>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.TerrainCoefficient)</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.TerrainCoefficient" type="number" class="form-control-plaintext" name="TerrainCoefficientInfo" disabled>
        <div name="TerrainCoefficientInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.IsCalculateByGas)</dt>
    <dd class="form-group col-sm-6 position-relative p-0">
        <button type="button" class="d-block w-100 h-100 position-absolute button-checkbox-toggle"></button>
        <div class="m-md-3">
            <input asp-for="@Model.IsCalculateByGas" type="checkbox" class="checkbox-toggle" data-toggle="toggle" data-size="xs" data-on="Да" data-off="Нет" name="IsCalculateByGasInfo" value="@Model.IsCalculateByGas" disabled>
        </div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.IsVerticalDeviation)</dt>
    <dd class="form-group col-sm-6 position-relative p-0">
        <button type="button" class="d-block w-100 h-100 position-absolute button-checkbox-toggle"></button>
        <div class="m-md-3">
            <input asp-for="@Model.IsVerticalDeviation" type="checkbox" class="checkbox-toggle" data-toggle="toggle" data-size="xs" data-on="Да" data-off="Нет" name="IsVerticalDeviationInfo" value="@Model.IsVerticalDeviation" disabled>
        </div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.AngleDeflection)</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.AngleDeflection" type="text" class="form-control-plaintext" name="AngleDeflectionInfo" disabled>
        <div name="AngleDeflectionInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.AngleRotation)</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.AngleRotation" type="text" class="form-control-plaintext" name="AngleRotationInfo" disabled>
        <div name="AngleRotationInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.IsCovered)</dt>
    <dd class="form-group col-sm-6 position-relative p-0">
        <button type="button" class="d-block w-100 h-100 position-absolute button-checkbox-toggle"></button>
        <div class="m-md-3">
            <input asp-for="@Model.IsCovered" type="checkbox" class="checkbox-toggle" data-toggle="toggle" data-size="xs" data-on="Да" data-off="Нет" name="IsCoveredInfo" value="@Model.IsCovered" disabled>
        </div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.IsSignFlare)</dt>
    <dd class="form-group col-sm-6 position-relative p-0">
        <button type="button" class="d-block w-100 h-100 position-absolute button-checkbox-toggle"></button>
        <div class="m-md-3">
            <input asp-for="@Model.IsSignFlare" type="checkbox" class="checkbox-toggle" data-toggle="toggle" data-size="xs" data-on="Да" data-off="Нет" name="IsSignFlareInfo" value="@Model.IsSignFlare" disabled>
        </div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.Hight)</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.Hight" type="text" class="form-control-plaintext" name="HightInfo" disabled>
        <div name="HightInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.Diameter)</dt>
    <dd class="form-group col-sm-6">
        <input asp-for="@Model.Diameter" type="text" class="form-control-plaintext" name="DiameterInfo" disabled>
        <div name="DiameterInvalid" class="invalid-feedback"></div>
    </dd>

    <dt class="col-sm-6">@Html.DisplayNameFor(modelItem => modelItem.RelationBackgroundId)</dt>
    <dd class="form-group col-sm-6">
        <span class="select-text type-select-text"></span>
        <select name="RelationBackgroundInfo" class="form-control-plaintext d-none" disabled>
            @foreach (var background in Model.DropdownBackgrounds)
            {
                var isCurrentValue = Model.RelationBackgroundId == background.Id;

                <option value="@background.Id" class="text-wrap" selected="@isCurrentValue">@background.Name</option>
            }
        </select>
    </dd>
</dl>