@model SmartEco.Models.TreesByObjectTableOfTheBreedStateList
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Details"]</h1>
@{
    string Role = Context.Session.GetString("Role");
}
<div>
    <h4>@SharedLocalizer["TreesByObjectTableOfTheBreedStateList"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GreemPlantsPassport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GreemPlantsPassport.GreenObject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlantationsType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlantationsType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15PlantationsType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15PlantationsType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15_2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15_2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15_3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15_3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15_4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15_4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfCSR15_5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateOfCSR15_5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
@if (Role == "admin" || Role == "moderator")
{
    <div>
        @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = Model.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, GreemPlantsPassportIdFilter = ViewBag.GreemPlantsPassportIdFilter, PlantationsTypeIdFilter = ViewBag.PlantationsTypeIdFilter })
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, GreemPlantsPassportIdFilter = ViewBag.GreemPlantsPassportIdFilter, PlantationsTypeIdFilter = ViewBag.PlantationsTypeIdFilter })
    </div>
}
else
{
    <div>
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, GreemPlantsPassportIdFilter = ViewBag.GreemPlantsPassportIdFilter, PlantationsTypeIdFilter = ViewBag.PlantationsTypeIdFilter })
    </div>
}