@model SmartEco.Akimato.Models.SpeciesDiversity
@using SmartEco.Akimato.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Create"]</h1>

<h4>@SharedLocalizer["SpeciesDiversity"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KATOId" class="control-label"></label>
                <select asp-for="KATOId" class="form-control" asp-items="ViewBag.KATOes"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlantationsTypeId" class="control-label"></label>
                <select asp-for="PlantationsTypeId" class="form-control" asp-items="ViewBag.PlantationsTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="TreesNumber" class="control-label"></label>
                <input asp-for="TreesNumber" class="form-control" />
                <span asp-validation-for="TreesNumber" class="text-danger"></span>
            </div>
            <div hidden="hidden">
                @Html.Editor("SortOrder", null, new { value = ViewBag.SortOrder })
                @Html.Editor("PageSize", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("PageNumber", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("KATOIdFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                @Html.Editor("PlantationsTypeIdFilter", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, KATOIdFilter = ViewBag.KATOIdFilter, PlantationsTypeIdFilter = ViewBag.PlantationsTypeIdFilter })
</div>