@model SmartEco.Models.MonitoringPost
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/moment.js/moment.js"></script>
<script src="~/lib/chart.js/dist/Chart.js"></script>
<h1>@SharedLocalizer["Details"]</h1>
@{
    string Role = Context.Session.GetString("Role");
}
<div>
    <h4 id="KazHydrometAirPost">@SharedLocalizer["MonitoringPost"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NorthLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NorthLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EastLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EastLongitude)
        </dd>
        <dd class="col-sm-2">
            @*@Html.DisplayFor(model => model.AdditionalInformation)*@
            <pre>@Model.AdditionalInformation</pre>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataProvider.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PollutionEnvironment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PollutionEnvironment.Name)
        </dd>
    </dl>
</div>
@if (Role == "admin" || Role == "moderator")
{
    <div>
        @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = Model.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NumberFilter = ViewBag.NumberFilter, NameFilter = ViewBag.NameFilter, DataProviderIdFilter = ViewBag.DataProviderIdFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter }) |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NumberFilter = ViewBag.NumberFilter, NameFilter = ViewBag.NameFilter, DataProviderIdFilter = ViewBag.DataProviderIdFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter })
    </div>
}
else
{
    <div>
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NumberFilter = ViewBag.NumberFilter, NameFilter = ViewBag.NameFilter, DataProviderIdFilter = ViewBag.DataProviderIdFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter })
    </div>
}
<div hidden="hidden">
    <input id="Value" value="@SharedLocalizer["Value"]" />
</div>
