@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Maps"];
}
@{
    string Role = Context.Session.GetString("Role");
}
@if (Role == "admin" || Role == "moderator")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Aktau">@SharedLocalizer["Aktau"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="KaragandaRegion">@SharedLocalizer["KaragandaRegion"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Arys">@SharedLocalizer["Arys"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Almaty">@SharedLocalizer["Almaty"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Shymkent">@SharedLocalizer["Shymkent"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Altynalmas">@SharedLocalizer["Altynalmas"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Zhanatas">@SharedLocalizer["Zhanatas"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="ASM">@SharedLocalizer["ASM"]</a>
}
else if (Role == "KaragandaRegion")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="KaragandaRegion">@SharedLocalizer["KaragandaRegion"]</a>
}
else if (Role == "Arys")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Arys">@SharedLocalizer["Arys"]</a>
}
else if (Role == "Almaty")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Almaty">@SharedLocalizer["Almaty"]</a>
}
else if (Role == "Shymkent")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Shymkent">@SharedLocalizer["Shymkent"]</a>
}
else if (Role == "Kazhydromet")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="KaragandaRegion">@SharedLocalizer["KaragandaRegion"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Almaty">@SharedLocalizer["Almaty"]</a>
    <a class="btn btn-default" asp-controller="Maps" asp-action="Shymkent">@SharedLocalizer["Shymkent"]</a>
}
else if (Role == "Altynalmas")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Altynalmas">@SharedLocalizer["Altynalmas"]</a>
}
else if (Role == "Zhanatas")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="Zhanatas">@SharedLocalizer["Zhanatas"]</a>
}
else if (Role == "ASM")
{
    <a class="btn btn-default" asp-controller="Maps" asp-action="ASM">@SharedLocalizer["ASM"]</a>
}