@model SmartEco.Models.ASM.EnterpriseDetailViewModel
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script src="https://kit.fontawesome.com/a1bcdb39a4.js" crossorigin="anonymous"></script>

<div>
    <h4>@SharedLocalizer["Enterprise"] «@Model.Item.Name»</h4>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Details">Общие сведения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#StructureAndLocation">Структура и расположение</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#AirPollutionSources">Источники загрязнения атмосферы</a>
        </li>
    </ul>

    <div class="tab-content p-3">
        <div class="tab-pane fade" id="Details">
            @await Html.PartialAsync("_GeneralInfo", Model)
        </div>
        <div class="tab-pane fade" id="StructureAndLocation">
            @await Html.PartialAsync("_StructureAndLocation", Model)
        </div>
        <div class="tab-pane fade" id="AirPollutionSources">
            <h2 class="h4 mb-3">Источники загрязнения атмосферы</h2>
        </div>
    </div>
</div>

<script src="~/js/asm/rememberTab.js" data-page="Enterprise"></script>
<script src="~/js/asm/structure/jsTreeInitializer.js"></script>
<script src="~/js/asm/structure/borderButtons.js"></script>

<script>
    InitializeBorderButtons();
    InitializeTreeButtons();

    var urls = {
        urlDetailIdnSiteEnterprise: '@Url.Action("Details", "IndSiteEnterprises")',
        urlDetailWorkhsop: '@Url.Action("Details", "Workshops")',
        urlDetailArea: '@Url.Action("Details", "Areas")'
    };
    $(function () {
        $('#JsTreeEnterprise')
            .on('activate_node.jstree', function (e, data) {
                InitializeTreeButtons(data, urls);
                InitializeBorderButtons(data.node.id);
            })
            .jstree({
                'core': {
                    'data': @Html.Raw(Model.TreeNodes.GetDataJson())
                    }
            });
    });
</script>