@model SmartEco.Models.ASM.EnterpriseListViewModel
@using System.Net
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Enterprises"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://kit.fontawesome.com/a1bcdb39a4.js" crossorigin="anonymous"></script>

<h2>@SharedLocalizer["Enterprises"]</h2>
@{
    string Role = Context.Session.GetString("Role");
    string controller = "Enterprises";
}
@if (Role == "admin" || Role == "moderator" || Role == "ASM")
{
    <div class="form-group">
        <a class="btn btn-success" href="@Url.Action("Create", controller, new EnterpriseFilterId { PageNumber = Model.Filter.PageNumber, PageSize = Model.Filter.PageSize, SortOrder = Model.Filter.SortOrder,
            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })">
            @SharedLocalizer["Create"]
        </a>
    </div>
}
@using (Html.BeginForm("Index", controller, new EnterpriseFilter { SortOrder = Model.Filter.SortOrder, 
    BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = Model.Filter.SortOrder })
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                    new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber - 1, SortOrder = Model.Filter.SortOrder, 
                        BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }

            @for (var page = (int)Model.Pager.StartPage; page <= (int)Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = page, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }

            @if (Model.Pager.PageNumber < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber + 1, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.TotalPages, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }
        </ul>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Id)
                    <br />
                    <br />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Bin)
                    <br />
                    @Html.Editor(nameof(Model.Filter.BinFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(c => c.Items.FirstOrDefault().Name).ToString(), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, SortOrder = ViewBag.NameSort,
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter})
                    <br />
                    @Html.Editor(nameof(Model.Filter.NameFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Kato)
                    <br />
                    @Html.Editor(nameof(Model.Filter.KatoComplexFilter), null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().EnterpriseTypeId)
                    <br />
                    @Html.DropDownList(nameof(Model.Filter.EnterpriseTypeIdFilter), Model.EnterpriseTypesSelectList, "", htmlAttributes: new { @class = "form-control" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Contacts)
                    <br />
                    <br />
                </th>
                <th>
                    @Html.DropDownList(nameof(Model.Pager.PageSize), Model.Pager.PageSizeList, htmlAttributes: new { @class = "form-control" })
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-secondary">
                    @Html.ActionLink(SharedLocalizer["Reset"], "Index", new EnterpriseFilter(), htmlAttributes: new { @class = "btn btn-outline-secondary", @role="button" })
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Pager.ColumnNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kato.ComplexName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnterpriseType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacts)
                    </td>
                    @if (Role == "admin" || Role == "moderator" || Role == "ASM")
                    {
                        <td class="d-flex" style="justify-content: space-evenly">
                            <a title="@SharedLocalizer["Details"]" href="@Url.Action("Details", controller, new EnterpriseFilterId { Id = item.Id, PageNumber = Model.Filter.PageNumber, PageSize = Model.Filter.PageSize, SortOrder = Model.Filter.SortOrder,
                                BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })">
                                <i class="fa-solid fa-eye fa-lg"></i>
                            </a>
                            <a title="@SharedLocalizer["Edit"]" href="@Url.Action("Edit", controller, new EnterpriseFilterId { Id = item.Id, PageNumber = Model.Filter.PageNumber, PageSize = Model.Filter.PageSize, SortOrder = Model.Filter.SortOrder,
                                BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })" class="text-warning">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                            </a>
                            <a title="@SharedLocalizer["Delete"]" href="@Url.Action("Delete", controller, new EnterpriseFilterId { Id = item.Id, PageNumber = Model.Filter.PageNumber, PageSize = Model.Filter.PageSize, SortOrder = Model.Filter.SortOrder,
                                BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })" class="text-danger">
                                <i class="fa-solid fa-trash fa-lg"></i>
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(SharedLocalizer["Details"], "Details", new EnterpriseFilterId { Id = item.Id, PageNumber = Model.Pager.PageNumber, PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, 
                                BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.PageNumber > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber - 1, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }

            @for (var page = (int)Model.Pager.StartPage; page <= (int)Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.PageNumber ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = page, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }

            @if (Model.Pager.PageNumber < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.PageNumber + 1, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new EnterpriseFilter { PageSize = Model.Pager.PageSize, PageNumber = Model.Pager.TotalPages, SortOrder = Model.Filter.SortOrder, 
                            BinFilter = Model.Filter.BinFilter, NameFilter = Model.Filter.NameFilter, KatoComplexFilter = Model.Filter.KatoComplexFilter, EnterpriseTypeIdFilter = Model.Filter.EnterpriseTypeIdFilter })
                </li>
            }
        </ul>
    }
}
