@model SmartEco.Models.ASM.Uprza.CalculationViewModel
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Delete"]</h1>

<h3>@SharedLocalizer["Delete"]?</h3>
<div>
    <h4>Расчёт рассеивания</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.TypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Type.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.StatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.KatoComplexName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.KatoComplexName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Item.Id" />
        <div hidden="hidden">
            <input asp-for="@Model.Filter.SortOrder" type="hidden" />
            <input asp-for="@Model.Filter.PageSize" type="hidden" />
            <input asp-for="@Model.Filter.PageNumber" type="hidden" />
            <input asp-for="@Model.Filter.NameFilter" type="hidden" />
            <input asp-for="@Model.Filter.CalculationTypeIdFilter" type="hidden" />
            <input asp-for="@Model.Filter.CalculationStatusIdFilter" type="hidden" />
            <input asp-for="@Model.Filter.KatoComplexFilter" type="hidden" />
        </div>
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-danger" /> |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new CalculationFilter 
        { 
            PageNumber = Model.Filter.PageNumber, 
            PageSize = Model.Filter.PageSize, 
            SortOrder = Model.Filter.SortOrder,
            CalculationTypeIdFilter = Model.Filter.CalculationTypeIdFilter, 
            CalculationStatusIdFilter = Model.Filter.CalculationStatusIdFilter, 
            NameFilter = Model.Filter.NameFilter, 
            KatoComplexFilter = Model.Filter.KatoComplexFilter 
        })
    </form>
</div>