@model SmartEco.Models.ASM.Uprza.CalculationViewModel
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using SmartEco.Models.ASM.Filsters;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>Расчёт рассеивания</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <input type="hidden" asp-for="Item.StatusId" />
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.TypeId" class="control-label"></label>
                <select asp-for="Item.TypeId" class="form-control" asp-items="Model.CalculationTypesSelectList">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Item.KatoCode" type="hidden" id="KatoCode" class="form-control">
                <input asp-for="Item.KatoName" type="hidden" id="KatoName" class="form-control">

                <label class="control-label">@Html.DisplayNameFor(c => c.Item.KatoComplexName)</label>
                <input list="KatoCatologsDataList" onkeyup="SetKatoes($(this));" onchange="SetKatoValue($(this));" title="@Model?.Item?.KatoComplexName" value="@Model?.Item?.KatoComplexName" class="form-control kato-name">
                <div class="invalid-feedback pollutant-invalid"></div>
                <datalist id="KatoCatologsDataList"></datalist>
            </div>
            <div hidden="hidden">
                <input asp-for="@Model.Filter.SortOrder" type="hidden" />
                <input asp-for="@Model.Filter.PageSize" type="hidden" />
                <input asp-for="@Model.Filter.PageNumber" type="hidden" />
                <input asp-for="@Model.Filter.NameFilter" type="hidden" />
                <input asp-for="@Model.Filter.CalculationTypeIdFilter" type="hidden" />
                <input asp-for="@Model.Filter.CalculationStatusIdFilter" type="hidden" />
                <input asp-for="@Model.Filter.KatoComplexFilter" type="hidden" />
            </div>
            <div hidden>
                <div id="CalculationGetKatoCatalogsReq" data-url="@Url.Action("GetKatoCatalogs", "KatoCatalogs")"></div>
                <div id="CalculationGetKatoCatalogReq" data-url="@Url.Action("GetKatoCatalog", "KatoCatalogs")"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new CalculationFilter 
    { 
        PageNumber = Model.Filter.PageNumber, 
        PageSize = Model.Filter.PageSize, 
        SortOrder = Model.Filter.SortOrder,
        CalculationTypeIdFilter = Model.Filter.CalculationTypeIdFilter, 
        CalculationStatusIdFilter = Model.Filter.CalculationStatusIdFilter, 
        NameFilter = Model.Filter.NameFilter, 
        KatoComplexFilter = Model.Filter.KatoComplexFilter 
    })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/asm/katoCatalog.js"></script>