@model SmartEco.Models.Target
@using SmartEco.Controllers
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Http
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Details"]</h1>
@{
    string Role = Context.Session.GetString("Role");
}
<div>
    <h4>@SharedLocalizer["Target"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PollutionEnvironment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PollutionEnvironment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameKK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameKK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameRU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameRU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameEN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameEN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfAchievement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeOfAchievementName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeasuredParameterUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeasuredParameterUnit.Name)
        </dd>
    </dl>
</div>
@if (Role == "admin" || Role == "moderator" || Role == "Almaty")
{
    <div>
        @Html.ActionLink(SharedLocalizer["Edit"], "Edit", new { Id = Model.Id, PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter, NameENFilter = ViewBag.NameENFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter }) |
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter, NameENFilter = ViewBag.NameENFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter })
    </div>
}
else
{
    <div>
        @Html.ActionLink(SharedLocalizer["BackToList"], "Index", new { PageNumber = ViewBag.PageNumber, PageSize = ViewBag.PageSize, SortOrder = ViewBag.SortOrder, NameKKFilter = ViewBag.NameKKFilter, NameRUFilter = ViewBag.NameRUFilter, NameENFilter = ViewBag.NameENFilter, PollutionEnvironmentIdFilter = ViewBag.PollutionEnvironmentIdFilter })
    </div>
}